
{% extends "base.html"%}

{% block content%}

<h1>Welcome</h1>
<p>I am a full-time professional freelancer.
I have 5 years experience in Lead Generation and Web scraping, also I have done some projects on Web Development using Django, Python Programming.</p>


<!--<p>-->
    <!--{% if bool_item %}-->
    <!--The Ranmom Number is: {{num}}-->
    <!--{% endif %}-->
<!--</p>-->
<!--<p>-->
    <!--{% for some_item in some_list %}-->
    <!--{% if some_item|divisibleby:"2" %}-->
        <!--Even Number-->
    <!--{% endif %}-->
    <!--{{ some_item }}<br/>-->
    <!--{% endfor %}-->
<!--</p>-->
<!--<p>-->
    <!--Some itema is {{ some_item }}-->
<!--</p>-->
{% endblock content%}