<ul>
    <li><p>Ariful Islam (Palash)</p> </li>
    <li><p>Email: ariful.islamk777@gmail.com</p> </li>
    <li><p>Phone Number: +8801626107606</p> </li>
    <li><p>Skype: polashkhan524</p> </li>
    <a href="https://www.upwork.com/freelancers/~019db7bbb0adab840f">Upwork |</a>
    <a href="https://www.linkedin.com/in/polashkhan524/">LinkedIn |</a>
    <a href="https://www.instagram.com/palashkhann/">Instagram |</a>
    <a href="https://twitter.com/islamaip">Twitter |</a>
    <a href="https://www.facebook.com/polashkhan524">Facebook</a>
</ul>