<ul>
    <li> <p>I know nothing but I know hard work will always overcome natural talent when natural talent doesn't work hard enough. Impossible Nothing.</p>
    </li>
    <li> <p>I am a full-time professional freelancer.
I have 5 years experience in Lead Generation and Web scraping, also I have done some projects on Web Development using Django, Python Programming.</p>
    </li>
    <li> <p>My objective is to do a job with high quality, on time and within the budget of my
client.</p></li>
    <li> <p>If you would like high quality work with a fast turn around for a fair price Please do not hesitate to contact me.
I won't disappoint you for sure.</p>

<p>Regards</p>
Ariful Islam (Palash) </li>
</ul>